@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #292524; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #1d4ed8; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
